[filter "markdown-custom"]
    clean = sed '/^<!-- GITIGNORE -->/,/^<!-- \\/GITIGNORE -->$/d'
    smudge = cat


[filter "cpp-custom"]
    clean = sed '/\\/\\/ GITIGNORE START/,/\\/\\/ GITIGNORE END/d'
    smudge = cat
